* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #410000;
  color: white;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 100;
  background-color: transparent;
  backdrop-filter: blur(1px);
  transition: all 1s ease;
}

nav button {
  color: white;
  padding: 0.4rem 0.8rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
}

.img-bg {
  margin-top: 5rem;
  width: 100%;
  height: 25rem;
  overflow: hidden;
  position: relative;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.img-bg h1 {
  position: absolute;
  top: 5%;
  font-size: 3rem;
}

.img-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 40%;
}

.img-bg .book-bg {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.20);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-bg .book-bg .book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  background-color: white;
  color: #5d0101;
  height: 20vh;
  width: 70vw;
  padding: 1rem 2rem;
  border-radius: 30px;
  position: relative;
}

.book h2 {
  font-size: 1.7vw;
}

.book .search {
  position: relative;
}

.book .search i {
  position: absolute;
  font-size: 1rem;
  margin-top: 0.6rem;
  color: black;
  top: 0%;
}

.book-bg .book input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #5d0101;
  outline: none;
  margin-top: 0.6rem;
  padding: 0.1rem 1.5rem;
}

.book button {
  position: absolute;
  bottom: -10%;
  padding: 0.5rem 1.4rem;
  border: none;
  outline: none;
  background-color: #cd0404;
  color: white;
  font-weight: 300;
}

.imp {
  height: 100%;
  width: 100%;
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 2.5rem;
}

.view .stac {
  background-color: #5d0101;
  padding: 1.5rem 3rem;
  border-radius: 30px;
  display: flex;
  gap: 4rem;
  border: 2px solid white;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.8);
}

.view-pt h2 {
  font-weight: 600;
  font-size: 1.3rem;
}

.stac .view-pt {
  display: flex;
  gap: 1rem;
}

.view .stac .view-pt img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.contest {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 4rem 1rem;
}

.contest .doc {
  width: 75%;
}

.doc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.doc p {
  font-size: 1rem;
  color: white;
  line-height: 1.95;
  font-weight: 300;
  border-left: 2px solid #ffffffa7;
  padding-left: 1rem;
}

.doc h2::after {
  content: '';
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 5rem;
  height: 2px;
  background: #ffffff;
}

.doc h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  letter-spacing: 3px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
}

.doc table {
  width: 100%;
  font-size: 1rem;
}

.doc table th {
  font-size: 0.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: left;
  padding: 0.6rem 0.8rem;
  border-bottom: 1px solid white;
  font-weight: 600;
}

.doc table td {
  padding: 16px 16px;
  color: #aaa;
  border-bottom: 1px solid white;
  font-weight: 300;
  transition: background 0.2s, color 0.2s;
}

.doc table tr:hover td {
  background: white;
  color: #111;
}

.doc table tr:last-child td {
  border-bottom: none;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.5rem;
  color: white;
}

.link a {
  color: white;
}

@media (max-width:1200px) {
  nav {
    padding: 1.5rem 2rem;
  }

  nav button {
    color: white;
    padding: 0.4rem 0.8rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
  }

  .img-bg {
    margin-top: 5rem;
    height: 40rem;
  }

  .img-bg h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .img-bg .book-bg .book {
    gap: 1rem;
    height: 25vh;
    width: 85vw;
    padding: 0.5rem 1.5rem;
  }

  .view-pt h2 {
    font-weight: 600;
    font-size: 1rem;
  }
}

@media (max-width:760px) {
  nav {
    padding: 1rem;
  }

  nav button {
    color: white;
    padding: 0.5rem 0.9rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
  }

  .img-bg {
    margin-top: 5rem;
    height: 40rem;
  }

  .img-bg h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .img-bg .book-bg .book {
    flex-direction: column;
    gap: 2rem;
    height: 60vh;
    width: 90vw;
    border-radius: 5px;
  }

  .book h2 {
    font-size: 4vw;
  }

  .book-bg .book input {
    width: 80vw;
  }

  .book button {
    bottom: -4%;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
  }


  .view .stac {
    background-color: transparent;
    padding: 1rem 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: none;
    box-shadow: none;
  }

  .view-pt h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .stac .view-pt {
    display: flex;
    background-color: rgba(165, 42, 42, 0.67);
    padding: 1rem 2rem;
    border-radius: 20px;
    display: flex;
    gap: 2rem;
    border: 2px solid white;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.8);
    gap: 1rem;
  }

  .view .stac .view-pt img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .contest {
    padding: 2rem 1.4rem;
  }

  .contest .doc {
    width: 100%;
  }

  .doc h3 {
    font-size: 1rem;
  }

  .doc table th,
  .doc table td {
    padding: 0.5rem 0.2rem;
    font-size: 0.8rem;
  }
}